.main-nav {
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  padding-bottom: 0;
}

.main-content {
  padding-top: 90px;
}

.navbar-brand .logo {
  width: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: #282c3f;
  font-size: 14px;
  font-weight: 500;
  padding: 25px 17px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: all 0.15s ease-in;
}
.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 3px solid #fb56c1;
}

.navbar-nav {
  margin-right: 20px;
}

.input-group-text {
  background: #f5f5f6;
  border: none;
}

.input-group-text img {
  width: 17px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .input-group-prepend {
  height: 35px;
}

.input-group > .form-control {
  width: 520px;
  background: #f5f5f6;
  border: none;
  font-size: 14px;
}

.side-icons {
  display: flex;
}

.side-icons div {
  margin: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-icons div img {
  width: 20px;
}

.side-icons div p {
  margin: 0;
  color: black;
  font-size: 12px;
  font-weight: 500;
}

.breadcrumb-nav .breadcrumb {
  /* box-shadow: none; */
  background: none;
}

.breadcrumb .breadcrumb-item a {
  color: #282c3f;
  font-weight: 400;
}

.breadcrumb .breadcrumb-item:last-child {
  /* color: #282c3f; */
  font-weight: 600;
}

.breadcrumb {
  margin: 0;
}

.item-heading {
  color: #282c3f;
  font-weight: 500;
  font-size: 16px;
  padding: 0 15px;
  margin: 0;
}

.item-heading span {
  color: #878b94;
}

.main {
  display: flex;
  padding-top: 23px;
}

.main .left {
  min-width: 252px;
  max-width: 252px;
}

.main .left .heading {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  padding: 0 15px 15px;
  border-bottom: 1px solid #e9e9ed;
}

.main .left .gender {
  padding: 15px;
}

.gender .form-check .form-check-label {
  color: #282c3f;
}

.left > div {
  border-top: 1px solid #e9e9ed;
  border-bottom: 1px solid #e9e9ed;
  border-right: 1px solid #e9e9ed;
}

.left .categories {
  padding: 15px;
}

.left .categories p {
  font-weight: 700;
  font-size: 18px;
}

.left .brand {
  padding: 15px;
}

.left .brand p {
  font-weight: 700;
  font-size: 18px;
}

.left .price {
  padding: 15px;
}

.left .price p {
  font-weight: 700;
  font-size: 18px;
}

.main .right {
  flex: 1;
}

.dropdown-wrapper {
  display: flex;
}

.dropdown button {
  background: white;
  color: black;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.dropdown button:hover {
  background: #f4f4f5;
  color: black;
}

.right .top {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0px 15px;
  margin-bottom: 20px;
}

.right .products {
  padding-top: 24px;
  border: 1px solid #e9e9ed;
}

.btn-success:focus {
  border: none;
  background-color: #f4f4f5;
  color: black;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  width: 210px;
  margin: 0 10px 30px;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0 2px 16px 4px rgb(40 44 63 / 7%);
}

.product:hover .info .name {
  display: none;
}

.product .info .wishlist {
  display: none;
}

.product:hover .info .wishlist {
  display: block;
}

.wishlist {
  margin-bottom: 12px;
}

.wishlist button {
  border-radius: 2px;
  border: 1px solid #d4d5d9;
  color: #282c3f;
  width: 100%;
  background: white;
}

.product .image-holder img {
  width: 100%;
}

.product .info {
  margin-top: 12px;
  padding: 0 10px;
}

.product .info p {
  margin: 0;
}

.product .info .name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #282c3f;
}

.product .info .desc {
  color: #535766;
  font-size: 14px;
}

.product .info .product-price .final-price {
  font-size: 14px;
  color: #282c3f;
  font-weight: 500;
}

.product .info .product-price .price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.product .info .product-price .discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  background: #f4f4f5;
  color: black;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
}

.product-page {
  display: flex;
  padding: 0 28px;
}

.product-page .image-holder {
  flex: 29;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-page .image-holder img {
  width: 49%;
  margin: 3px;
}

.product-page .product-details {
  flex: 16;
  padding-left: 30px;
}

.product-details .heading {
  color: #282c3f;
  padding: 0 20px 0 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.product-details .description {
  color: #535665;
  padding: 5px 20px 14px 0;
  font-size: 20px;
  opacity: 0.8;
  font-weight: 400;
  text-transform: capitalize;
  border-bottom: 1px solid #d4d5d9;
}

.product-details .price-container {
  color: #696e79;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.price-container > p {
  margin: 0;
}

.price-container .final-price {
  color: #282c3f;
  font-weight: 500;
  font-size: 24px;
  margin-right: 12px;
}

.price-container .price {
  height: 22px;
  opacity: 0.8;
  font-size: 20px;
  line-height: 1.2;
  color: #282c3f;
  margin-right: 12px;
  text-decoration: line-through;
}

.price-container .discount {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ff905a;
}

.product-details .tax {
  color: #03a685;
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin: 5px 10px 0 0;
}

.product-details .size-section {
  margin: 24px 0;
}

.size-section .header p {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
}

.buttons .button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #bfc0c6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.buttons .button:hover {
  border: 1px solid #ff3e6c;
}

.main-buttons {
  margin-top: 10px;
  display: flex;
  text-transform: uppercase;
}

.main-buttons .cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  font-weight: 500;
  width: 280px;
  cursor: pointer;
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  border-radius: 4px;
  color: #fff;
  margin-right: 20px;
}

.main-buttons .cart-btn img {
  margin-right: 15px;
}

.main-buttons .wishlist-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #d4d5d9;
  background-color: #fff;
  letter-spacing: 0.4px;
  color: #282c3f;
  width: 190px;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 700;
}

.main-buttons .wishlist-btn img {
  margin-right: 15px;
}
